<div class="container">
  <header>
    <h1>AdBlockr</h1>
  </header>
  <p class="description">
    AdBlockr blocks those annoying ads in Safari and helps sites load faster and use less of your data plan on the go. It will make web browsing a lot faster in Safari.
  </p>
  <p><a target="_blank" href="https://itunes.apple.com/us/app/adblockr/id1043946513?ls=1&mt=8"><img src="images/appstore.png" /></a></p>
  <div class="content">
    <div class="loader">
      <i class="fa fa-spinner fa-pulse"></i>
    </div>
    <button class="action action--hidden action--play">
      <i class="fa fa-play"></i><span class="action__label">Watch How to Enable</span>
    </button>
  </div>
  <div class="deco-stack">
    <img class="deco-stack__img deco-stack__img--rotation-1" src="images/adblockr-1.jpg" alt="Picture 1" />
    <img class="deco-stack__img deco-stack__img--rotation-2" src="images/adblockr-2.jpg" alt="Picture 2" />
    <img class="deco-stack__img deco-stack__img--rotation-3" src="images/adblockr-3.jpg" alt="Picture 3" />
  </div>
  <div class="video-wrap">
    <div class="video-inner">
      <video class="video-player" src="media/HowTo.mp4" poster="images/adblockr-1.jpg" preload="auto">
        <source src="media/HowTo.webm" type='video/webm; codecs="vp8.0, vorbis"'>
        <source src="media/HowTo.mp4" type='video/mp4; codecs="avc1.4D401E, mp4a.40.2"'>
        <source src="media/HowTo.ogg" type='video/ogg; codecs="theora, vorbis"'>
        <p>Sorry, but your browser does not support this video format.</p>
      </video>
      <button class="action action--close"><i class="fa fa-close"></i><span class="action__label action__label--hidden">Close preview</span></button>
    </div> 
  </div>
</div>
